# === Redis ===
REDIS_HOST=redis
REDIS_PORT=6379

# === Postgres ===
POSTGRES_DB=test_auth
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgrespw

# === Auth ===
AUTH_SERVICE_URL=http://127.0.0.1:8000
BACKOFF_MAX_DELAY=60
BACKOFF_MAX_COUNT=10
